* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #b76e79;
  --grey: #d0c9d0;
  /* --grey: #d8d6d8; */
  --dkblue: #392f58;
}

body {
  font-family: "Arial Narrow", Helvetica, sans-serif;
  border: 3px solid var(--pink);
  background-color: var(--grey);
  /* background-color: var(--pink); */
}

ul {
  list-style: none;
}

a {
  color: var(--grey);
  text-decoration: none;
}

/* CLASSES
.body
  .header
    .name
    .nav
      .nav-items
  .me-background
  .content
    .about-me
    .section-whole
      .section-title
      .about-me-title
      .about-me-p
    .projects
      .projects-title
      .projects-img
        .project-1
          .desk-img
          .text
          .study-guide
        .project-tbd
          .bm1
          .api
          .bm2
          .node
          .bm3
          .sql
          .bm4
          .mern
    .contact-me
      .contact-me-title
      .contact-me-list
 */

/* GRID */
/* .body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
} */

/* HEADER */
.header {
  display: flex;
  background-color: var(--pink);
  justify-content: space-between;
  align-items: center;
  /* grid-column: 1/-1; */
  padding: 5px 10px;
}

.name {
  background-color: var(--grey);
  border-radius: 20px;
  font-size: 50px;
  padding-left: 100px;
  padding-right: 25px;
  color: var(--pink);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  gap: 0px 20px;
  color: var(--grey);
  background-color: var(--pink);
  font-size: 20px;
  /* ADD TO EACH LI ITEM- border-bottom: 10px solid var(--ltgrey); */
}

.nav-items a {
  color: var(--grey);
  border-bottom: 5px, solid, var(--grey);
}

.nav-items a:hover {
  color: var(--dkblue);
  border-bottom: 5px solid var(--dkblue);
}

/* HERO */
.me-background {
  background-image: url("./images/me.JPG");
  height: 258px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top: 3px solid var(--pink);
  border-bottom: 3px solid var(--pink);
  /* grid-column: 1/-1; */
}

/* MAIN */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--pink);
  text-align: right;
  border-right: 3px solid var(--pink);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 100px;
  flex: 0 0 300px;
  align-self: stretch;
  /* background-color: #392f58; */
}

.section-whole {
  /* should this be a grid? */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: 40px;
  /* gap: 25px;
   display: grid; */

  /* background-color: wheat; */
}

/* ABOUT ME */
/* .about-me-title {
  grid-column: 1/2;
  grid-row: 3/4;
} */

.about-me-p {
  /* grid-column: 2/3;
  grid-row: 3/4; */
  color: var(--dkblue);
  margin-left: 25px;
}
/* .about-me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
} */

/* PROJECTS */
/* .projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
}
.projects-title {
  font-size: 50px;
  border-right: 5px solid var(--pink);
} */
.projects-title {
  margin-right: 25px;
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  /* grid-template-rows: 2fr 1fr 1fr; */
  justify-content: center;
  /* align-items: stretch; */
}
.projects-grid > img {
  width: 100%;
  height: 100%;
  object-fit: stretch;
}

/* .projects-img figure {
  height: 250px;
  width: 500px;
  background-size: cover;
  background-position: center; */
/* background-attachment: fixed; */

.desk-img {
  grid-column: 1/ -1;
  /* background: url("./images/desk.jpeg"); */
  /* height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center; */
  /* border: 3px solid var(--dkblue); */
}

figure img {
  border: 3px solid var(--dkblue);
}

h2 {
  font-size: 25px;
}

.text {
  background-color: var(--dkblue);
  color: var(--grey);
  display: inline-block;
}

.desk-img {
  position: relative;

  /* background-image: url("./images/desk.jpeg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 3px solid var(--dkblue);
  grid-column: 1/-1; */
}

.study-guide {
  position: absolute;
  /* how do I make these relative to the image? */
}

.bm1 {
  grid-row: ;
  /* background-image: url("./images/bm-face.JPG"); */
  /* height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center; */
  /* border: 3px solid var(--dkblue); */
  /* border-bottom: 3px solid var(--pink); */
  position: relative;
}
.api {
  position: absolute;
}

.bm2 {
  /* background-image: url("./images/bm-face.JPG"); */
  /* height: 258px;
  width: 100%;
  background-size: cover;
  background-position: center; */
  /* border: 3px solid var(--dkblue); */
  position: relative;
}
.node {
  position: absolute;
}

.bm3 {
  /* background-image: url("./images/bm-face.JPG"); */
  /* height: 258px;
  width: 100%;
  background-size: cover;
  background-position: center; */
  /* border: 3px solid var(--dkblue); */
  position: relative;
}
.sql {
  position: absolute;
}

.bm4 {
  /* background-image: url("./images/bm-face.JPG"); */
  /* height: 258px;
  width: 100%;
  background-size: cover;
  background-position: center; */
  /* border: 3px solid var(--dkblue); */
  position: relative;
}
.mern {
  position: absolute;
}

/* CONTACT ME */
.contact-me-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin-left: 25px;

  /* background-color: aquamarine; */
}

.contact-me-list a {
  color: var(--dkblue);
  border-bottom: 5px solid var(--dkblue);
}

.contact-me-list a:hover {
  color: var(--pink);
  border-bottom: 5px solid var(--pink);
}

@media screen and (max-width) {
}

/* TO DO
1) Add media queries
2) add hover & click to anchors
3) add opacity to pics + hover
4) add text over my image
*/

/* QUESTIONS
1) Grid - how to make it fit the section
2) How to overlay the text
3) Nav Bar - why is the border bottom not showing?
4) Contact me - why is the color not showing? */
